<EditForm Model="@_model" OnValidSubmit="OnValidSubmitAsync">
    <MudDialog>
        <DialogContent>
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField Label="Name" Variant="Variant.Outlined" @bind-Value="@_model.Name" For="() => _model.Name" Margin="Margin.Dense" />
                </MudItem>

                <MudItem xs="12">
                    <MudDatePicker Label="Date of birth"
                                   Editable="true"
                                   @bind-Date="@_model.DateOfBirth"
                                   DateFormat="dd-MM-yyyy"
                                   Placeholder="Select date of birth"
                                   Variant="Variant.Outlined"
                                   For="()=> _model.DateOfBirth"
                                   Margin="Margin.Dense" />
                </MudItem>

                <MudItem xs="12">
                    <MudRadioGroup @bind-Value="@_model.Gender" For="() => _model.Gender">
                        <MudRadio Size="Size.Small" Value="@('M')" Color="Color.Primary" Dense="true">Male</MudRadio>
                        <MudRadio Size="Size.Small" Value="@('F')" Color="Color.Secondary" Dense="true">Female</MudRadio>
                    </MudRadioGroup>
                </MudItem>

                <MudItem xs="12">
                    <MudTextField Label="Mobile number"
                                  Variant="Variant.Outlined"
                                  @bind-Value="@_model.MobileNumber"
                                  For="() => _model.MobileNumber"
                                  Adornment="Adornment.Start"
                                  AdornmentText="+91"
                                  Margin="Margin.Dense"
                                  MaxLength="10" />
                </MudItem>

                <MudItem xs="12">
                    <MudSelect @bind-Value="_model.RelationTypeId" Label="Relation type" Variant="Variant.Outlined" For="() => _model.RelationTypeId" ShrinkLabel="true" Margin="Margin.Dense">
                        <MudSelectItem Value="@((byte)0)">Select a relation type</MudSelectItem>
                        @foreach (var type in RelationTypes)
                        {
                            <MudSelectItem Value="@type.Id">@type.Description</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="12">
                    <MudTextField Label="Relative" Variant="Variant.Outlined" @bind-Value="@_model.Relative" For="() => _model.Relative" Margin="Margin.Dense" />
                </MudItem>

                <MudItem xs="12">
                    <MudSwitch @bind-Value="@_model.IsFamilyHead" Label="Is family head" Color="Color.Primary" />
                </MudItem>
            </MudGrid>

        </DialogContent>
        <DialogActions>
            <div class="px-4 mb-4">
                @if (_isWorking)
                {
                    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
                }
                else
                {
                    <MudButton Size="Size.Small" Variant="Variant.Filled" OnClick="Cancel">Cancel</MudButton>
                    <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Success" ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Rounded.Save" Class="ml-2">Save</MudButton>
                }
            </div>
        </DialogActions>
    </MudDialog>
</EditForm>