@page "/"
@page "/families"

<h1>Families</h1>

<MudGrid Class="mt-4">
    <MudItem sm="12">
        <MudDataGrid Items="@_families" Loading="@_isLoading" Striped="true" Bordered="true" Hover="true">
            <Columns>
                <PropertyColumn Property="x => x.Id" />
                <PropertyColumn Property="x => x.Head" />
                <PropertyColumn Property="x => x.Surname!.Name" />
                <PropertyColumn Property="x => x.Native!.Name" />
                <PropertyColumn Property="x => x.Address!.Area" />
                <TemplateColumn>
                    <CellTemplate>
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Rounded.OpenInNew" Color="@Color.Info" OnClick="() => GoToFamily(context.Item!.Id)" />
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudItem>
</MudGrid>

<div id="add-family-fab">
    <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.Add" @onclick="OpenAddFamilyDialogAsync" />
</div>