@page "/families/{FamilyId:int}"
@using Nirdeshika.Domain.Extensions

@if (_isLoading)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    if (_family is null)
    {

    }
    else
    {
        <MudPaper Elevation="4" Class="my-1 pa-6 rounded-lg">
            <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.ArrowBack"
                       Variant="Variant.Filled"
                       Color="@Color.Dark"
                       Class="mb-4"
                       OnClick="@(() => NavigationManager.NavigateTo("/families"))">
                Back to List
            </MudButton>

            <MudGrid>
                <MudItem xs="12" sm="6" Class="d-flex gap-x-8">
                    <MudAvatar Size="Size.Large"
                               Color="Color.Secondary">
                        @_family.Head[..1].ToUpper()
                    </MudAvatar>
                    <div>
                        <h2>@_family.Head @_family.Surname?.Name</h2>
                        <div>Family ID: @_family.Id</div>
                    </div>
                </MudItem>
                <MudItem xs="12" sm="6" Class="d-flex gap-x-8">
                    <MudAvatar Color="Color.Info" Variant="Variant.Filled" Size="Size.Large">
                        <MudIcon Icon="@Icons.Material.Rounded.Place" />
                    </MudAvatar>
                    <div>
                        <h2>@_family.Address?.Area</h2>
                        <div>@_family.Native?.Name</div>
                    </div>
                </MudItem>
                @*  <MudItem xs="12" sm="4" Class="d-flex gap-x-8">
                    <MudAvatar Color="Color.Tertiary" Variant="Variant.Filled" Size="Size.Large">
                        <MudIcon Icon="@Icons.Material.Rounded.CallSplit" />
                    </MudAvatar>
                    <div>
                        <h2>@_family.Sect?.Name</h2>
                    </div>
                </MudItem> *@
            </MudGrid>

            <MudItem sm="12" Class="mt-8">
                @if (_familyMembers.Any())
                {
                    <MudDataGrid Items="@_familyMembers" Loading="@_loadingFamilyMembers" Striped="true" Bordered="true" Hover="true">
                        <ToolBarContent>
                            <MudStack Row>
                                <MudText Typo="Typo.h6">Family Members</MudText>
                            </MudStack>
                        </ToolBarContent>
                        <Columns>
                            <PropertyColumn Title="" Property="x => x.Gender">
                                <CellTemplate>
                                    @if (context.Item!.Gender == 'M')
                                    {
                                        <MudIcon Icon="@Icons.Material.Rounded.Male" Color="Color.Info" />
                                    }
                                    else
                                    {
                                        <MudIcon Icon="@Icons.Material.Rounded.Female" Color="Color.Secondary" />
                                    }

                                    @if (context.Item!.IsFamilyHead)
                                    {
                                        <MudIcon Icon="@Icons.Material.Rounded.ManageAccounts" Color="Color.Success" />
                                    }
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.Name" />
                            <PropertyColumn Title="Relation type" Property="x => x.RelationTypeId">
                                <CellTemplate>
                                    @_relationTypes.FirstOrDefault(rt => rt.Id == context.Item!.RelationTypeId)?.Description
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="x => x.Relative" />
                            <PropertyColumn Title="Date of birth" Property="x => x.DateOfBirth" Format="dd-MM-yyyy" />
                            <TemplateColumn Title="Age (Years)">
                                <CellTemplate>
                                    <MudText> @context.Item!.DateOfBirth.CalculateAge()</MudText>
                                </CellTemplate>
                            </TemplateColumn>
                            <PropertyColumn Title="Mobile number" Property="x => x.MobileNumber" />
                            <TemplateColumn>
                                <CellTemplate>
                                    <AuthorizeView Policy="AdminOnly" Context="admin">
                                        <Authorized>
                                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Rounded.WifiProtectedSetup" Color="@Color.Info" OnClick="async () => await UpdateFamilyMemberAsync(context.Item!)" />
                                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Rounded.DeleteOutline" Color="@Color.Error" OnClick="() => DeleteMemberAsync(context.Item!.Id)" />
                                        </Authorized>
                                    </AuthorizeView>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                    </MudDataGrid>
                }
            </MudItem>

            <AuthorizeView Policy="AdminOnly" Context="admin">
                <Authorized>
                    <MudCardActions Class="mt-6">
                        <MudButton Size="Size.Small" StartIcon="@Icons.Material.Filled.Add"
                                   Variant="Variant.Filled"
                                   Color="@Color.Tertiary"
                                   OnClick="OpenAddFamilyMemberDialogAsync">
                            Add member
                        </MudButton>
                    </MudCardActions>
                </Authorized>
            </AuthorizeView>
        </MudPaper>
    }
}