@page "/static-data"
@using Nirdeshika.Application.Services
@using Nirdeshika.Application.DTOs
@inject IAddressService AddressService
@inject ISectService SectService
@inject ISurnameService SurnameService
@inject INativeService NativeService

<h1>Static Data</h1>

<MudGrid>
    <MudItem sm="12" md="6">
        <MudDataGrid Items="@_surnames" Loading="@_isLoading" Striped="true" Bordered="true" Hover="true">
            <ToolBarContent>
                <MudText Typo="Typo.h5">Surnames</MudText>
                <MudSpacer />
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Id" />
                <PropertyColumn Property="x => x.Name" />
            </Columns>

            <PagerContent>
                <MudDataGridPager T="SurnameDto" />
            </PagerContent>
        </MudDataGrid>

        <MudDataGrid Items="@_addresses" Loading="@_isLoading" Striped="true" Bordered="true" Hover="true" Class="my-8">
            <ToolBarContent>
                <MudText Typo="Typo.h5">Areas</MudText>
                <MudSpacer />
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Id" />
                <PropertyColumn Property="x => x.Area" />
            </Columns>
            <PagerContent>
                <MudDataGridPager T="AddressDto" />
            </PagerContent>
        </MudDataGrid>

    </MudItem>
    <MudItem sm="12" md="6">
        <MudDataGrid Items="@_natives" Loading="@_isLoading" Striped="true" Bordered="true" Hover="true">
            <ToolBarContent>
                <MudText Typo="Typo.h5">Natives</MudText>
                <MudSpacer />
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Id" />
                <PropertyColumn Property="x => x.Name" />
            </Columns>

            <PagerContent>
                <MudDataGridPager T="NativeDto" />
            </PagerContent>
        </MudDataGrid>
        
        <MudDataGrid Items="@_sects" Loading="@_isLoading" Striped="true" Bordered="true" Hover="true" Class="my-8">
            <ToolBarContent>
                <MudText Typo="Typo.h5">Sects</MudText>
                <MudSpacer />
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Id" />
                <PropertyColumn Property="x => x.Name" />
            </Columns>

            <PagerContent>
                <MudDataGridPager T="SectDto" />
            </PagerContent>
        </MudDataGrid>
    </MudItem>
</MudGrid>

@code {
    private bool _isLoading = true;
    private IEnumerable<SurnameDto> _surnames = [];
    private IEnumerable<NativeDto> _natives = [];
    private IEnumerable<AddressDto> _addresses = [];
    private IEnumerable<SectDto> _sects = [];

    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAll(
            LoadAddressesAsync(),
            LoadSurnamesAsync(),
            LoadNativesAsync(),
            LoadSectsAsync()
        );

        _isLoading = false;
    }

    private async Task LoadSurnamesAsync()
    {
        _surnames = await SurnameService.GetAllSurnamesAsync();
    }

    private async Task LoadNativesAsync()
    {
        _natives = await NativeService.GetAllNativesAsync();
    }

    private async Task LoadAddressesAsync()
    {
        _addresses = await AddressService.GetAllAddressesAsync();
    }

    private async Task LoadSectsAsync()
    {
        _sects = await SectService.GetAllSectsAsync();
    }
}
