@page "/manage-users"
@using Nirdeshika.Application.DTOs

<AuthorizeView Policy="AdminOnly" Context="admin">
    <Authorized>
        <MudGrid Class="my-1">
            <MudItem xs="12">
                @if (!_users.Any())
                {
                    <MudPaper Class="pa-4 ma-2" Outlined="true"><h3>No users found.</h3></MudPaper>
                }
                else
                {
                    <MudDataGrid Items="@_users" Loading="@_isLoading" Striped="true" Bordered="true" Hover="true">
                        <ToolBarContent>
                            <MudText Typo="Typo.h5">Application users</MudText>
                            <MudSpacer />
                        </ToolBarContent>
                        <Columns>
                            <PropertyColumn Property="x => x.Id" />
                            <TemplateColumn Title="Username (Email)">
                                <CellTemplate>
                                    @context.Item.Email

                                    @if (context.Item.IsApproved)
                                    {
                                        <MudChip Color="Color.Success" Variant="Variant.Filled" Size="Size.Small">Approved</MudChip>
                                    }
                                    else
                                    {
                                        <MudChip Color="Color.Warning" Variant="Variant.Filled" Size="Size.Small">Not approved</MudChip>
                                    }
                                </CellTemplate>
                            </TemplateColumn>
                            <TemplateColumn Title="Action">
                                <CellTemplate>
                                    <MudTooltip Text="@(context.Item.IsApproved ? "Disprove" : "Approve")">
                                        <MudIconButton Icon="@(context.Item.IsApproved ? Icons.Material.Rounded.DoDisturb : Icons.Material.Rounded.CheckCircleOutline)" Color="@(context.Item.IsApproved ? Color.Error : Color.Success)" OnClick="() => OnApprovalChangedAsync(context.Item.Id)" />
                                    </MudTooltip>
                                    <MudTooltip Text="@(context.Item.IsAdmin!.Value ? "Remove admin" : "Make admin")">
                                        <MudIconButton Icon="@Icons.Material.Rounded.AdminPanelSettings" Color="@(context.Item.IsAdmin!.Value ? Color.Primary : Color.Default)" Class="ml-2" OnClick="() => OnAdminStatusChangedAsync(context.Item)" />
                                    </MudTooltip>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>

                        <PagerContent>
                            <MudDataGridPager T="ApplicationUserDto" />
                        </PagerContent>
                    </MudDataGrid>
                }
            </MudItem>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <MudPaper Class="pa-4 ma-2" Outlined="true"><h3>Sorry, you are not authorized to view this page.</h3></MudPaper>
    </NotAuthorized>
</AuthorizeView>